<!DOCTYPE html>
<html>
<head>
	<title>Gym</title>
<!-- 	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
 -->	 
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
      <div class="header clearfix">
        <h3 class="text-muted">GYM</h3>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <%- body  %>
        </div>
      </div>

      <footer class="footer">
        <p>My portfolio site. Copyright &copy; 2017</p>
      </footer>
    </div>
</body>
</html>