<h2 class="page-header">Booking</h2>
<form (submit)="onBookingSubmit()">
  <div class="form-group">
    <label>User_ID:</label>
    <input type="text" [(ngModel)]="User_ID" name="User_ID" class="form-control">
  </div>
  <div class="form-group">
    <label>CustomerUsername:</label>
    <input type="text" [(ngModel)]="CustomerUsername" name="CustomerUsername" class="form-control">
  </div>
  <div class="form-group">
    <label>GymNameLocation:</label>
    <input type="text" [(ngModel)]="GymNameLocation" name="GymNameLocation" class="form-control">
  </div>
  <div class="form-group">
    <label>selectedClass:</label>
    <input type="text" [(ngModel)]="selectedClass" name="selectedClass" class="form-control">
  </div>
  <div class="form-group">
    <label>selectedTime:</label>
    <input type="text" [(ngModel)]="selectedTime" name="selectedTime" class="form-control">
  </div>
  <div class="form-group">
    <label>CustomerEmail:</label>
    <input type="text" [(ngModel)]="CustomerEmail" name="CustomerEmail" class="form-control">
  </div>
  <div class="form-group">
    <label>CustomerMobile:</label>
    <input type="number" [(ngModel)]="CustomerMobile" name="CustomerMobile" class="form-control">
  </div>
  <div class="form-group">
    <label>ConfirmationStatus:</label>
    <input type="text" [(ngModel)]="ConfirmationStatus" name="ConfirmationStatus" class="form-control">
  </div>
  <input type="submit" class="btn btn-primary" value="Submit">
</form>