<form ng-submit="login()">

<center>
<div>
    <div>
      <br>
        <label>Username</label>
        <input class="form-control"
 type="text" ng-model="username" placeholder="username" required>
    </div>
    <div>
        <label>Password</label>
        <input class="form-control"
 type="password" ng-model="password" placeholder="Password" required>
    </div>
    <div>
        <br>
         <button  type="submit"class="button" style="vertical-align:middle"><span> <p><b>LOGIN</b></p></span></span></button>
    </div>
</div>
</center>
</form>