<h2 class="page-header">Booking</h2>
  <div class="form-group">
   <h4>Product Name: {{Product.prodname}}</h4>
   <h4>Product ID: {{Product.prodID}}</h4>
   <h4>Price: {{Product.price}}</h4>
   <h4>Description: {{Product.ProductDescription}}</h4>
   <h4>Category: {{Product.Category}}</h4>
   <h4>Quantity: {{Product.Quantity}}</h4>
 </div>
                        
  <button class="btn btn-primary" ng-click="onUpdate()"> Edit </button>
 <button class="btn btn-primary" ng-click="onDelete()"> Delete </button>