<div *ngIf="business">
  <h2 class="page-header">{{business.GymName_location}}</h2>
  <ul class="list-group">
    <li class="list-group-item">Address:{{businessAddress}}</li>
     <li class="list-group-item">BusinessUsername:{{business.BusinessUsername}}</li> 
     <li class="list-group-item">Email:{{business.Email}}</li> 
     <li class="list-group-item">PhoneNumber:{{business.PhoneNumber}</li> 
     <li class="list-group-item">BankName:{{business.BankName}}</li> 
     <li class="list-group-item">AccountNumber:{{business.AccountNumber}}</li> 
     <li class="list-group-item">Description:{{business.Description}}</li>
  </ul>
</div>