<!--
<!DOCTYPE html>
<html>
 <head>
   <form action="/customerview" method="post">

   <meta charset="utf-8">
   <title> </title>
 </head>
 <body>
   <h1 style="text-align:center;"> Welcome To Our Platform </h1>
   <h2 style="text-align:center;"> Gym Page </h2>


   <div class="input">
       <label for="username">BusinessUsername</label>
       <input type="text" id="username" name="username"  readonly>
   </div>


 </body>
   </form>
</html> -->
