
<!--<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> </title>
  </head>
  <body>
    <h1 style="text-align:center;"> welcome to our website </h1>
    <h2 style="text-align:center;"> Registration Page </h2>
    <h3> Please fill out this form </h3>

    <form action="http://localhost:8080/visitorView" method="post">
        <div class="input">
            <label for="email">GymName_location</label>
            <input type="text" id="email" name="email">
        </div>
        <div class="input">
            <label for="username">Address</label>
            <input type="text" id="username" name="username">
        </div>
        <div class="input">
            <label for="password">PhoneNumber</label>
            <input type="password" id="password" name="password">
        </div>
        <div class="input">
            <label for="Email">Email</label>
            <input type="text" id="Email" name="Email">
        </div>
        <button id="myButton"  >Review and Rate</button>

        <script type="text/javascript">
            document.getElementById("myButton").onclick = function () {
                location.href = "http://localhost:8080/customerView";
            };
        </script>

    </form>
  </body>
</html> -->
