<h2 class="page-header">Register</h2>
<form (submit)="onRegisterSubmit()">
  <div class="form-group">
    <label>FirstName:</label>
    <input type="text" [(ngModel)]="firstname" name="firstname" class="form-control">
  </div>
  <div class="form-group">
    <label>LastName:</label>
    <input type="text" [(ngModel)]="lastname" name="lastname" class="form-control">
  </div>
  <div class="form-group">
    <label>Age:</label>
    <input type="number" [(ngModel)]="age" name="age" class="form-control">
  </div>
  <div class="form-group">
    <label>UserName:</label>
    <input type="text" [(ngModel)]="username" name="username" class="form-control">
  </div>
  <div class="form-group">
    <label>Email:</label>
    <input type="text" [(ngModel)]="email" name="email" class="form-control">
  </div>
  <div class="form-group">
    <label>Password:</label>
    <input type="password" [(ngModel)]="password" name="password" class="form-control">
  </div>
  <div class="form-group">
    <label>MobileNumber:</label>
    <input type="number" [(ngModel)]="mobilenumber" name="mobilenumber" class="form-control">
  </div>
  <div class="form-group">
    <label>Gender:</label>
    <input type="text" [(ngModel)]="gender" name="gender" class="form-control">
  </div>
  <input type="submit" class="btn btn-primary" value="Submit">
</form>