<div class="input">
        <label for="email">E-Mail</label>
        <input type="text" id="email" name="email"  readonly>
    </div>
    <div class="input">
        <label for="username">BusinessUsername</label>
        <input type="text" id="username" name="username"  readonly>
    </div>
    <div class="input">
        <label for="address">Address</label>
        <input type="text" id="address" name="address"  readonly>
    </div>

    <div class="input">
        <label for="GymName">GymName_location</label>
        <input type="text" id="GymName" name="GymName"  readonly>
    </div>

    <div class="input">
        <label for="phoneno">PhoneNumber</label>
        <input type="text" id="phoneno" name="phoneno"  readonly>
</div>

<button id="myButton"  >Review and Rate</button>

<script type="text/javascript">
        document.getElementById("myButton").onclick = function () {
            location.href = "http://localhost:8080/customerView";
        };
</script>

<form action="http://localhost:8080/customerView" method="post">
        <div class="input">
            <label for="email">Review</label>
            <input type="text" id="ReviewComment" name="ReviewComment">
        </div>
  <INPUT Type="submit" VALUE="Submit">
    </form> 