<div class="row">
    <form method="GET" class="form-horizontal" action="/viewcart">
          <div class="col-xs-12 col-md-8">
              <div class="row">
                  <% for(var i=0; i<cart.length; i++){%>
                      <div class="card col-xs-4">
                          <h4 class="card-title"> <%= cart[i].prodname %></h4>
                      </div>
                  <% } %>
              </div>
          </div>
        </form>
        <form method="post" class="form-horizontal" action="/addToCart">
              <div class="col-xs-12 col-md-8">
                  <div class="row">
                      <% for(var i=0; i<cart.length; i++){%>
                          <div class="card col-xs-4">
                              <h4 class="card-title"> <%= cart[i].prodname %></h4>
                          </div>
                      <% } %>
                  </div>
              </div>
            </form>
            <form method="post" class="form-horizontal" action="/removeFromCart">
                  <div class="col-xs-12 col-md-8">
                      <div class="row">
                          <% for(var i=0; i<cart.length; i++){%>
                              <div class="card col-xs-4">
                                  <h4 class="card-title"> <%= cart[i].prodname %></h4>
                              </div>
                          <% } %>
                      </div>
                  </div>
                </form>
    </div>