<form action="/subscripe" method = "POST">
  Gym Name Location:<br>
  <input type="text" name="GymName_location"><br>

  address:<br>
  <input type="text" name="address"><br>

  Email:<br>
  <input type="text" name="Email"><br>

  username:<br>
  <input type="text" name="Username"><br>

  password:<br>
  <input type="text" name="Password"><br>

  description:<br>
  <input type="text" name="description"><br>

  phoneNumber:<br>
  <input type="Number" name="phoneNumber"><br>

  BankName:<br>
  <input type="text" name="BankName"><br>

  AccountNumber:<br>
  <input type="text" name="AccountNumber"><br>

  schedules:<br>
  <input type="Mixed" name="schedules"><br>

  <button> Submit </button>

  </form>