<form action="/CustomerController" method="Post">
  <p>
    <label>Email
      <input type="text" name="email">
    </label>
  </p>

  <p>
    <label>Password
      <input type="text" name="password">
    </label>
  </p>

  <p>
    <label>Mobile number
      <input type="Number" name="mobilenumber">
    </label>
  </p>


  <p>
    <label>Gender
      <input type="Boolean" name="gender">
    </label>
  </p>

  <p>
    <label>Age
      <input type="Number" name="age">
    </label>
  </p>



  <p><button>Apply Changes</button></p>

</form>
