<form action="/BusinessController" method="Post">
  <p>
    <label>Gym Name
      <input type="text" name="GymName_location">
    </label>
  </p>

  <p>
    <label>Address
      <input type="text" name="Address">
    </label>
  </p>

  <p>
    <label>Email
      <input type="text" name="Email">
    </label>
  </p>

  <p>
    <label>Password
      <input type="text" name="Password">
    </label>
  </p>

  <p>
    <label>Phone number
      <input type="Number" name="PhoneNumber">
    </label>
  </p>

  <p>
    <label>Bank name
      <input type="text" name="BankName">
    </label>
  </p>

  <p>
    <label>Schedules
      <input type="text" name="Schedules">
    </label>
  </p>

  <p>
    <label>Description
      <input type="text" name="Description">
    </label>
  </p>

  <p>
    <label>Account Number
      <input type="Number" name="AccountNumber">
    </label>
  </p>


  <p><button>Apply Changes</button></p>

</form>
