<div class="jumbotron text-center">
  <h1> GymPlatform </h1>
  <p class="lead"> Welcome to our Gyms page </p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    <a class="btn btn-default" [routerLink]="['/customerlogin']">Customer Login</a>
  </div>
</div>

<!--search-->
<nav class="navbar navbar-collapse">
    <div class="row pull-xs-right">
        <div class="col-md-3 hidden-md-down">
        </div>
        <div class=" col-md-6">

            <form id="searchForm">
                <!-- ngNoForm -->
                <!--<div class="form-group">
                    <div class="input-group">
                        <input type="text" name="username" class="form-control" placeholder="Search for Gym, product or service" [(ngModel)]="githubUser.userName" (keyup)="searchUser()">
                        <div class="input-group-addon"><i class="fa fa-keyboard-o" aria-hidden="true"></i></div>
                    </div>
                </div>-->


            </form>

        </div>
    </div>
</nav>